<% provide(:title, 'Edit User') %>
<div class="container-fluid" style="background-color: #015629; padding-top: 5%; padding-bottom: 5%">
    <div class="hero-unit" style="background-color: #e6fae1" align="center">

<h2>Edit <%= resource_name.to_s.humanize %></h2>

<% resource.build_user_profile if resource.user_profile.nil? %>
<%= simple_nested_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put , :multipart => true }) do |f| %>
  <%= f.error_notification %>
<br>

  <%= f.fields_for :user_profile do |profile| %>

  <div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#account" data-toggle="tab">User Account</a></li>
      <li><a href="#info" data-toggle="tab">Basic Info</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="account">
        <div class="row">
          <div class="span6">
            <%= f.text_field :email, :required => true, :autofocus => false, :label => false %><br>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.text_field :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false, :label => false, :placeholder => "New Password" %><br>
            <%= f.text_field :password_confirmation, :required => false, :label => false, :placeholder => "Re-enter Password" %><br>
          </div> <!-- span6 -->
        </div> <!-- row -->
      </div> <!-- tab-pane -->

        <div class="tab-pane" id="info">
          <b>Basic information:</b>
          <%= profile.input :first_name, :required => true %>
          <%= profile.input :last_name, :required => true %>
          <%= profile.label :birthday, "Birthday" %>
          <%= profile.date_select :birthday, :start_year => 1950 %>
          <%= profile.label :image, "Avatar" %>
          <%= profile.file_field :image %>
          <%= profile.input :current_address, :placeholder => 'current_address' %>
          <%= profile.input :permanent_address, :placeholder => 'permanent_address' %>
          <b>Education:</b>
          <%= profile.input :primary_education, :placeholder => "Primary Education" %>
          <%= profile.input :primary_education_grad, :placeholder => "Date Graduated" %>
          <%= profile.input :secondary_education, :placeholder => "secondary_education" %>
          <%= profile.input :secondary_education_grad, :placeholder => "secondary_education_grad" %>
          <%= profile.input :tertiary_education, :placeholder => "tertiary_education" %>
          <%= profile.input :tertiary_education_grad, :placeholder => 'tertiary_education_grad' %>
          <%= profile.input :vocational_education, :placeholder => "vocational_education" %>
          <%= profile.input :vocational_education_grad, :placeholder => 'vocational_education_grad' %>
          <b>Contact information:</b>
          <%= profile.input :primary_email, :placeholder => "primary_email" %>
          <%= profile.input :mobile_number, :placeholder => 'mobile_number' %>
          <%= profile.input :website_address, :placeholder => 'website_address' %>
          <b>Employment History:</b>
          <%= profile.text_area :employment_history %>
          <b>Achievements:</b>
          <%= profile.text_area :achievements %>
          <b>Other relevant information:</b>
          <%= profile.text_area :others %>
          <b>Featured Project:</b>
          <%= profile.autocomplete_field :featured_project_title, autocomplete_project_title_users_path, :id_element => "#featured_project", :placeholder => "Project title" %>
          <%= profile.hidden_field :featured_project, :id => "featured_project"%>
        </div> <!-- tab-pane --> 

      <% end %>

    </div> <!-- tab-content -->
  </div> <!-- tabbabble -->
<br>
    <%= f.button :submit, "Update", :class => "btn btn-success" %>

<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel Account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger" %></p>

<%= button_to "Back", :back, :class => "btn btn-success" %>

</div>
</div>