<% provide(:title, 'Search Results') %>

<% if user_signed_in? %>
<div align="center" class="container-fluid" style="background-color: #015629; padding-top: 5%; padding-bottom: 5%">
	<h2 style="color: #e6fae1">Search Results for <%= @query %>:</h2>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#projects" data-toggle="tab">Projects</a></li>
    <li><a href="#users" data-toggle="tab">Users</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="projects">
          	<%= render 'layouts/projectlist', :projects => @projects_list %>
			<%= will_paginate @projects_list %>
    </div>
    <div class="tab-pane" id="users">
      <table class="table table-bordered">
		<tr>
			<th>Username</th>
			<th>Email</th>
			<th>Name</th>
		</tr>
		<% @users_list.each do |user| %>
			<tr>
				<td style="padding: 15px"> <%= link_to user.username, user %> </td>
				<td style="padding: 15px"> <%= user.email%> </td>
				<% @user_profile = UserProfile.where( user_id: user.id ).first %>
				<td style="padding: 15px"> <%= @user_profile.fullname %> </td>   
			</tr>
		<% end %>
		</table>
		<%= will_paginate @users_list %>
    </div>
  </div>
</div>


<% else %>
	<%= "You are not signed in!" %>
<% end %>

</div>