<% provide(:title, 'User Profile') %>
<div class="container-fluid" style="background-color: #015629; padding-top: 5%; padding-bottom: 5%">
	<div class="hero-unit" style="background-color: #e6fae1" align="center">
		<div class="row-fluid">
			<div class="span12">
				<div class="row-fluid">
					<div class="span4">

					<%= link_to @user_profile.image_url, :target => "_blank" do %>
						<%= image_tag @user_profile.image_url(:thumb).to_s%>
					<% end %>
					<br/>
					</div>
					<!-- span4 -->
					<div class="span8" align="left">
						<%= render 'info', :profile => @user_profile %>
					</div>
					<!-- span8 -->
				</div>
				<!-- rowfluid -->
			</div>
			<!-- span12 -->
		</div>
		<!-- rowfluid -->
		<div class="row-fluid">
				<%= render 'featured', :projects => @projects, :featured => @featured %>
		</div>
		<%= will_paginate @projects %>
	</div><!-- /hero-unit-->
</div><!-- /containerfluid -->