<% provide(:title, 'User Profile') %>
<div class="container-fluid" style="background-color: #015629; padding-top: 5%; padding-bottom: 5%">
	<div class="hero-unit" style="background-color: #e6fae1" align="center">

					<%= link_to @user_profile.image_url, :target => "_blank" do %>
						<%= image_tag @user_profile.image_url(:thumb).to_s%>
					<% end %>
					<br/>

					<%= @user_profile.fullname %> <br>


					Featured project:
					<div class="hero-unit" style="background-color: #015629" align="center">
						<% if @user_profile.featured_project %>
						Title:<br>
						<%= link_to @featured.title, @featured, :target => '_blank' %><br>
						Description:<br>
						<%= @featured.description %><br>
						<% else %>
						<%= @user_profile.featured_project_title %>
						<% end %>

					</div>

					<%= @user_profile.fullname %>'s projects:
					<%= render '/layouts/projectlist', :projects => @projects %>

					<div class='container'>
					<b>Basic information:</b><br>
			          Birthday: <%= @user_profile.birthday %> <br>
			          Current Address: <%= @user_profile.current_address %> <br>
			          Permanent Address<%= @user_profile.permanent_address  %> <br>
			          </div>
			          <div class='container'>
			          <b>Education:</b><br>
			          Primary Education: <%= @user_profile.primary_education %><br>
			          Year graduated: <%= @user_profile.primary_education_grad %><br>
			          Secondary Education: <%= @user_profile.secondary_education %><br>
			          Year graduated: <%= @user_profile.secondary_education_grad %><br>
			          Tertiary Education: <%= @user_profile.tertiary_education %><br>
			          Year graduated: <%= @user_profile.tertiary_education_grad %><br>
			          Vocational Education: <%= @user_profile.vocational_education %><br>
			          Year Graduated: <%= @user_profile.vocational_education_grad %><br>
			          </div>
			          <div class='container'>
			          <b>Contact information:</b><br>
			          Primary Email: <%= @user_profile.primary_email %><br>
			          Mobile Number: <%= @user_profile.mobile_number %><br>
			          Website: <%= @user_profile.website_address %><br>
			          </div>
			          <div class='container'>
			          <b>Employment History:</b><br>
			          <%= @user_profile.employment_history %><br>
			          </div>
			          <div class='container'>
			          <b>Achievements:</b><br>
			          <%= @user_profile.achievements %><br>
			          </div>
			          <div class='container'>
			          <b>Other relevant information:</b><br>
			          <%= @user_profile.others %><br>
			          </div>
	</div><!-- /hero-unit-->
</div><!-- /containerfluid -->
