<% if user_signed_in? %>
  <% provide(:title, 'Home') %>
  <div class="container-fluid" align="center" style="background-color: #015629; padding-top: 3%; padding-bottom: 5%;">
    <%= render 'layouts/projectlist', :projects => @projects %>
    <%= will_paginate @projects %>
  </div>
<% else %>
  <% provide(:title, 'STRePSyls') %>
  <div class="container-fluid" style="background-color: #015629; padding-top: 3%; padding-bottom: 5%;">
    <div class="row-fluid">
      <div class="span3" style="margin-left: 5%; margin-right: 4%;">

        <br><br><br><br><br>

        <div class="well sidebar-nav" style="background-color: #e6fae1">
          <div align="center" style="color: #55AB55">
            <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :namespace => 'signin' ) do |f| %>

              <br>
              <%= render 'layouts/messages' %>

              <div class="input-prepend">
                <span class="add-on"><i class="fa fa-user"></i></span>
                <%= f.text_field :login, :class => "input-medium", :placeholder => "Username/Email", :autofocus => true %>
              </div>

              <div class="input-prepend">
                <span class="add-on"><i class="fa fa-lock"></i></span>
                <%= f.password_field :password, :class => "input-medium", :placeholder => "Password" %>
              </div>

              <div class="btn-toolbar">
                <div class="row-fluid">
                  <div class="span12">
                    <%= button_tag :type => "submit", :class => "btn btn-success" do %>
                      <i class="fa fa-sign-in"></i> Login
                    <% end %>
                    <%= image_tag "space.png "%>

                    <a data-toggle="modal" href="#myModal">
                      <%= button_tag :type => "submit", :class => "btn btn-success" do %>
                        <i class="fa fa-pencil"></i>
                        Sign Up
                      <% end %>
                    </a>

                    <br><%= image_tag "or.gif"%>

                    <%= link_to user_omniauth_authorize_path(:facebook) do %>
                      <%= image_tag "facebook.gif"%>
                    <% end %>
                  </div><!-- /.span12 -->
                </div><!-- /.row-fluid -->
              </div><!-- /.btn-toolbar -->
            <% end %>

            <div id="myModal" class="well modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="background-color: #e6fae1; width: 35%">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header"style="margin-bottom: -4%; border: none">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                      <i class="icon-remove" style="color: black"></i>
                    </button>
                    <%= image_tag 'signup.png' %>
                  </div>

                  <div class="modal-body" id="user_signup_box">
                    <% resource.build_user_profile %>
                    <%= simple_form_for( resource, :validate => true, :as => resource_name, :url => registration_path(resource_name) ) do |g| %>

                      <%= g.fields_for :user_profile do |profile| %>
                        <%= profile.text_field :first_name, :required => true, :class => "input-medium", :placeholder => "First Name", :label => false %>
                        <%= profile.text_field :last_name, :required => true, :class => "input-medium", :placeholder => "Last Name", :label => false %>
                        <%= g.text_field :username, :required => true, :autofocus => true, :class => "input-medium", :placeholder => "Username", :label => false, :validate => true %>
                        <%= g.text_field :email, :required => true, :autofocus => true, :class => "input-medium", :placeholder => "Email", :label => false %>
                        <%= g.password_field :password, :required => true, :class => "input-medium", :placeholder => "Password", :label => false %>
                        <%= g.password_field :password_confirmation, :required => true, :class => "input-medium", :placeholder => "Re-enter password", :label => false %>
                      <% end %>

                      <br><br>
                      <%= g.button :submit, "Sign Up", :class => "btn btn-success" %>
                      <br>
   
                    <% end %>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
          </div><!-- /.align-center -->
        </div><!-- /.well-sidebar-nav -->
      </div><!-- /.span3 -->

      <p class="template_body">
        <div class="span3" style="width: 62%; margin-left: 0.010%;">
          <div class="hero-unit" style="background-color: #e6fae1">
            <div id="myCarousel" class="carousel slide">
              <div class="carousel-inner">
                <div class="item active"><!--<img src="assets/img/cs1.jpg" alt="First slide">-->
                  <%= image_tag 'cs1.jpg', :alt => "First slide" %>
                  <div class="carousel-caption">
                    <h4>Sign up for a STRePSyls account today.</h4>
                    <p>Sign in using your email or Facebook account.</p>
                  </div>
                 </div>

                <div class="item"><!-- <img src="assets/img/cs2.jpg" alt="Second slide"> -->
                  <%= image_tag 'cs2.jpg', :alt => "Second Slide" %>
                  <div class="carousel-caption">
                    <h4>Add projects and collaborate with other users.</h4>
                    <p>Tag other users on shared projects.</p>
                  </div>
                </div>

                <div class="item"><!-- <img src="assets/img/cs3.jpg" alt="Third slide"> -->
                  <%= image_tag 'cs3.jpg', :alt => "Third Slide" %>
                  <div class="carousel-caption">
                    <h4>Showcase your achievements and skills online.</h4>
                    <p>Browse through our list of users and projects.</p>
                  </div>
                </div>
              </div><!-- /carousel-inner-->

              <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div><!-- /carousel-slide-->
          </div><!-- /hero-unit-->
        </div><!-- /span-->
      </p>

    </div><!-- /rowfluid -->
  </div><!-- /containerfluid -->
<% end %>
