<% if user_signed_in? %>

  <% @project.project_comments.build %>

  <%= simple_form_for @project do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
        <%= f.fields_for :project_comments, @project.project_comments.build do |comment| %>
        	<%= comment.text_area :content, :placeholder => "Add comment", :required => true, :autofocus => true, :style => "width: 80%; height: 100px" %>
          <%= comment.hidden_field :user_id, :value => @user.id %>
        <% end %>
    </div>

      <%= f.button :submit, "Submit Comment", :class => "btn btn-success" %>
  <% end %>
<% else %>
  <p> Sign in to add comments </p>
<% end %>