<% if user_signed_in? %>

  <% @project.project_comments.build %>

  <%= simple_form_for @project do |f| %>
    <%= f.error_notification %>
    <div class="form-inputs">
      <h3> Add Comment </h3>
        <%= f.fields_for :project_comments do |comment| %>
        	<%= comment.text_area :content, :required => true, :autofocus => true, :size => "30x5" %>
          <%= comment.hidden_field :user_id, :value => @user.id %>
        <% end %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Submit Comment" %>
    </div>
  <% end %>
<% else %>
  <p> Sign in to add comments </p>
<% end %>