<div class="comments">
  <% if comments.count > 0 %>
    <% comments.each do |comment| %>
      <div class="hero-unit" style="background-color: #F5F5DC; border-width: 1px; border-style: solid; border-color: black" align="center">
        <% commenter = UserProfile.where( user_id: comment.user_id ).first %>
        <%= image_tag commenter.image_url(:tiny).to_s %>
        <%= link_to commenter.fullname, user_path(commenter.user_id), :target => '_blank' %>:<br>
        <%= comment.content %><br>
        <%= comment.created_at.strftime("Added on %m/%d/%Y at %I:%M%p") %>
      </div>
    <% end %>
  <% else %>
    <p>No comments available for this project.</p>
  <% end %>
</div>
<%= will_paginate comments %>