<% provide(:title, 'Projects') %>
<% if user_signed_in? %>

	<table class="table table-striped table-bordered">
		<tr>
			<th>Title</th>
			<th>Contributor</th>
			<th>Description</th>
			<th>Tags</th>
		</tr>
		<% @projects.each do |project| %>
			<tr>
				<td class="span2" style="word-wrap:break-word"> <%= link_to project.title, project %> </td>
				<td class="span3" style="word-wrap:break-word"> <%= project.contributor %> </td>
				<td class="span1" style="word-wrap:break-word"> <%= project.description %> </td>       
				<td class="span1" style="word-wrap:break-word"><%= raw project.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></td>
			</tr>
		<% end %>
	</table>
	<%= will_paginate @projects %>
	<%= link_to 'Create Project', new_project_path, class: "btn btn-large btn-primary" %>

<% else %>
	<%= "You are not signed in!" %>
<% end %>

<footer align="center" style="background-color: #e6fae1; color: #015629; margin-top: 0px; border-top-width: 2px; border-top-color: black">
      <div class="container">
        <div class="row">
          <div class="span4">
            <h2>About Us</h2>
            <p>
              ePortfolio is a Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
            </p>
          </div>

          <div class="span4">
            <h2>Contact Us</h2>
            <ul class="icons">
              <li><i class="icon-globe"></i> Website: <a href="http://ws.dcs.upd.edu.ph/" style="color: #000000" target="_blank"><b>WSG</b></a></li>
              <li><i class="icon-facebook-sign"></i> Facebook: <a href="https://www.facebook.com/pages/Web-Science-Group/150535988306252" style="color: #000000" target="_blank"><b>WSG</b></a></li>
              <li><i class="icon-twitter"></i> Twitter: <a href="https://twitter.com/rom" style="color: #000000" target="_blank"><b>@rom</b></a></li>
              <li><i class="icon-bolt"></i> <i class="icon-remove"></i><%= image_tag 'space.png' %><i class="icon-group"></i>: <a href="https://www.facebook.com/stormalmalvez" style="color: #000000" target="_blank"><b>S</b></a> & <a href="https://www.facebook.com/johnthomasraphael" style="color: #000000" target="_blank"><b>M</b></a></li>
            </ul>
          </div>

          <div class="span4">
            <ul class="icons">
              <li style="padding-top: 10px">
              <%= image_tag 'wsg.gif' %>
              </li>

              <li style="padding-top: 10px">
                <p>
                  ePortfolio
                  <%= image_tag 'space.png', :style => "width: 1.7%" %><%= image_tag 'copyright.gif' %><%= image_tag 'space.png', :style => "width: 1.3%" %> 2013
                  <br>Powered by <a href="https://www.ruby-lang.org/en/" style="color: #000000" target="_blank">
                  <%= image_tag 'ruby.png' %></a>
                  and <a href="http://getbootstrap.com/" style="color: #000000" target="_blank">
                  <%= image_tag 'bootstrap.png' %></a>
                </p>
              </li>
            </ul>
          </div>
        </div><!--/.row -->
      </div><!--/.container -->
    </footer>