<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "STRePSyls" %></title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application" %>    
    <%= stylesheet_link_tag "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" %>


    <style type="text/css">
        .template_body {
          padding-top: 40px;
        }

        div.navbar-inner {
          height: 0px;
        }

        table, th, td {
          width: 5%;
          border: 1px solid #232323;
        }

        th {
          background-color: #111111;
          color: #e5e5e5;
        }

        td {
          background-color: #393939;
          color: #e5e5e5;
        }

        tbody tr td a, tbody tr td a:hover, tbody tr td a:visited, tbody tr td a:active {
          color: #98FB98;
        }

        btn-success a:hover, btn-success a:visited, btn-success a:active {
          color: white;
        }

        li {
          color: #393939;
        }
    </style>

  </head>


    <% if user_signed_in? %>
    <body style="padding-top: 40px; padding-bottom: 0px;">
    <% else %>
    <body style="padding-top: 0px; padding-bottom: 0px;">
    <% end %>

    <div class="jumbotron" style="background-color: #e6fae1; padding-top: 20px; padding-bottom: 10px; border-bottom: 2px solid black">
      <div class="container" align="center">
        <%= image_tag "logo.png", :style => "margin-bottom: 1%" %>
      </div>
    </div>

    <% unless @disable_nav %>
    <!-- <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
 -->          <%= render 'layouts/navigation' %>
        <!-- </div>
      </nav>
    </header> -->
    <% end %>

    <%= yield %>

     <div class="pull-right" style="margin-right: 1%; margin-top: 0.7%">
      <a href="#">
        <%= image_tag 'arrow.png' %>
      </a>
    </div>

    <!--<div class="pull-right" style="margin-right: 1%; margin-top: 1.2%">
      <a href="#">
      </a>
    </div>-->

    <div class="pagination-centered">
      <footer style="background-color: #e6fae1; color: #015629; margin-top: 0px; border-top-width: 2px; border-top-color: black">
        <div class="container">
          <div class="row">
            <div class="span4">
              <h2>About Us</h2>
              <p>
                STRePSyls is a web application designed to make media collation easier for the user through an online platform of showcasing information.
              <!--<br><i class="icon-bolt"></i> <i class="icon-remove"></i> <i class="icon-group"></i>-->
              </p>
            </div>

            <div class="span4">
              <h2>Contact Us</h2>
              <i class="icon-globe"></i> Website: <a href="http://ws.dcs.upd.edu.ph/" style="color: #000000" target="_blank"><b>WSG</b></a><br>
              <i class="icon-facebook-sign" style="margin-left: 4%"></i> Facebook: <a href="https://www.facebook.com/pages/Web-Science-Group/150535988306252" style="color: #000000" target="_blank"><b>WSG</b></a><br>
              <i class="icon-twitter"></i> Twitter: <a href="https://twitter.com/strepsyls" style="color: #000000" target="_blank"><b>@strepsyls</b></a>
            </div>

            <div class="span4" style="padding-top: 10px">
              <%= image_tag 'wsg.gif' %>

              <div style="padding-top: 10px">
                <p>
                  STRePSyls<%= image_tag 'space.png', :style => "width: 1.7%" %><%= image_tag 'copyright.gif', :style => "margin-bottom: .5%" %><%= image_tag 'space.png', :style => "width: 1.3%" %>2013
                  <br>Powered by <a href="https://www.ruby-lang.org/en/" style="color: #000000" target="_blank">
                  <%= image_tag 'ruby.png', :style => "width: 4%; margin-bottom: 1%" %></a>
                  and <a href="http://getbootstrap.com/" style="color: #000000" target="_blank">
                  <%= image_tag 'bootstrap.png', :style => "width: 4%; margin-bottom: 1%" %></a>
                </p>
              </div>
            </div>
          </div><!--/.row -->
        </div><!--/.container -->
      </footer>
    </div>


    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery.min.js" %>
    <%= javascript_include_tag "jquery.slimscroll.js", "jquery.slimscroll.min.js" %>
    <%= javascript_include_tag "isotope.pkgd.js" %>
    <%= javascript_include_tag "jquery.raty.js", "letsrate.js"%>

    <script>
      $('#myCarousel').carousel({
        interval: 5000
      });
    </script>

    <script>
      $('#inner-content-div').slimScroll({
        alwaysVisible: true,
        position: 'right',
        size: '10px',
        distance: '5px',
        railVisible: true,
        railColor: '#98fb98',
        railOpacity: 0.7,
        color: '#2e8b57',
        start: $('#child_image_element'),
        wheelStep: 10,
        allowPageScroll: false,
        disableFadeOut: false
      });
    </script>

    <script>
      $( function() {
        // init Isotope
        var $container = $('.isotope').isotope({
          itemSelector: '.pin',
          layoutMode: 'masonry',
          getSortData: {
            desc: '.desc',
            info: '.info',
          }
        });

        // bind sort button click
        $('#sorts').on( 'click', 'button', function() {
          var sortByValue = $(this).attr('data-sort-by');
          $container.isotope({ sortBy: sortByValue });
        });
      });
    </script>


    <script>
    $(function() {
      $('#datepicker').datepicker();
    });
    </script>
        
    </body>
</html>
